/* Main */

body {
	background: #7FB5DA;
	font-family: sans-serif;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

ul {
	line-height: 1.5;
}

#container {
	margin: 20px;
}


/* tabs */
#tabs {
	margin: 30px 0 0 0;
	width: 100%;
	
}

.tab {
	display: inline-block;
	float: left;
	margin-right: 5px;
	color: #4c4c4c;
	font-size: 16px;
	border-radius: 3px 3px 0 0;
	font-weight: 500;
	padding: 4px 8px;

}

#tabs .tab:hover {
	background-color: #fff;
}

.tab {
	background: #a7cce5;
}

.tab.active {
	background-color: #fff;
	font-weight: 800;
}




/* Content */

.tab-content {
	display: block;
	clear: both;
}

#container .tab-content .content {
	float: left;
	clear: both;
	width: 90%;
	border-radius: 0 3px 3px 3px;
	padding: 15px;
	background-color: #fff;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
	text-align: center;
}

.content {
	display: none;
}

.content.active {
	display: inline-block;
}
